.hero {
  height: 80vh;
  padding: 2rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Bootstrap ya aporta text-center, text-white y flex utilities */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  z-index: 2;
}
